.whiteNav {
   position: fixed;
   height: 90px;
   width: 70%; 
   // background-color: cadetblue;
   left: 0;
   right: 0;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: 1px solid white;

   .logo{
      width: 92px;
      height: 42px;
      // background-color: chocolate;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: white;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid white;
   }

   .links{
      width: 406px;
      height: 42px;
      // background-color: magenta;
      color: #79ADDC;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      
      .wording{
      text-decoration: none;
      color: white;
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
   }

   
}


@media screen and (max-width: 800px) {
   nav {
     display: flex;
     justify-content: space-between;

     .logo{
   text-align: center;
     }

     .links{
     margin-left: 20px;
     }
   }
 }